body{
    background-color: rgb(120, 65, 170);
}
#logogamerz{
    float: left;
}
#login{
    float: right;
}
#avatar{
    float: left;
    padding: 1rem;
}
h1{
    color: aliceblue;
    float: left;
}
#gamerzconnect{
    float: right;
    margin-top:-20px;
    padding: 1rem;
}
nav{
    clear: both;
    text-align: center;
}
nav ul li{
    ist-style-type: none;
    display: inline-block;
    background: rgb(18, 89, 107);
    background: linear-gradient(180deg, rgba(28,168,203,1) 0%, rgba(127,174,210,1) 63%, rgba(255,255,255,0.8445475638051044) 100%);
    width: 10%;
    height: 30px;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    width: 50px;
    padding: 10px;
    font-size: 110%;
    color: white;
    text-align: center;
}


#texte{
    color: aliceblue;
}
#list{
    color: aliceblue;
}
#life{
float: left;
width: 50px;
}
hr{
    clear: both;
}
h2{
width: 60%;
color: aliceblue;
}
#hesport{
    color: aliceblue;
    float: right;
}
h3{
    color: aliceblue;
}
#new{
    float: left;
}
#new2{
    float: right;
    width: 60%;
}